{
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "extensions": [".js", ".ts"],
        "alias": {
          "tailwind": "./tailwind.js",
          "types": "./types.ts"
        }
      }
    ]
  ]
}
